#spreadsheet_link
{
	position: absolute;
	bottom:1%;
	right: 1%;
}
body
{
	margin: 0;
	padding: 0;
}
table
{
	margin: 0 auto;
	border-collapse: collapse;
    width: 85%;
}
td
{
	color: #222222;
	padding: 1vw;
	font-size: 3vw;
	border: 1px solid #909090;
    text-align: center;
    padding: 1wv;
}
th
{
	color: #222222;
	padding: 1vw;
	font-size: 3vw;
	border: 1px solid #909090;
    text-align: center;
    padding: 1wv;
}
#table_div
{
	margin: 0 auto;
	text-align: center;
	padding: 1vw;
}
#phrase
{
	margin: 1vw;
	padding-top: 1vw;
	color: #222222;
	font-size: 4vw;
	text-align: center;
}
#reverse_div
{
	margin-right:4vw;
	text-align: right;
}
#reverse_button
{
	color:#dfdfdf;
	padding: 0;
	border: none;
	background: none;
	font-size: 4vw;
	text-align: right;
	outline-width: 0;
}
#report_button
{
	color:#dfdfdf;
	padding: 0;
	border: none;
	background: none;
	font-size: 4vw;
	text-align: right;
	outline-width: 0;
}
#response
{
	margin: 1vw;
	color: red;
	font-size: 3vw;
	text-align: center;
}
#leosinput
{
	font-size: 4vw;
	text-align: center;
	width: 68vw;
}
#footer_text
{
	color: #888888;
	font-size: 1.5vw;
	text-align: center;
}
#master_div
{
	overflow: hidden;
}
#navigation_list
{
	padding: 0;
	margin: 0;
}
.navigation_item
{
	color: #aaaaaa;
	text-align: center;
	padding: 1vw;
	font-size: 2.5vw;
	list-style-type: none;
}
.navigation_item:hover
{
	background: #fbfbfb;
}
.tooltip .tooltiptext
{
	visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext
{
	visibility: visible;
}
#left_menu
{
	padding-bottom: 500vw;
	margin-bottom: -502vw;
	float: left;
	min-height: 100vh;
	width: 25%;
	background: #404040;
}
#main_content
{	
	padding-bottom: 500vw;
	margin-bottom: -502vw;
	width: 75%;
	float: left;
	min-height: 100vh;
	background: #fbfbfb;
}
#footer_div
{
	background: #fbfbfb;
	font-size: 5vw;
}
#wordinput
{
	padding-left: 0;
	text-align: center;
}
#missing_menu
{
	width: 25%;
	float: left;
	height: 2vw;
	background: #404040;
}
